body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #eff1ef;
}
.container{
    border-radius: 8px;
    box-shadow: 0 0 10px;
    width: 300px;
    text-align: center;
}
input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 10px;
    background-color: #28a745;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
